Flask
Flask-Session
psycopg2-binary
SQLAlchemy
bootstrap

GOODREAD API KEYS
key: wLFlJUFFRQuF4KnqtFr6sA
secret: XpHiBdTm0Ji4y9RPzmGZP8ndDvRUBAhRTXjTXiQCs8c

HERUKO INFO:
Host: ec2-3-215-41-107.compute-1.amazonaws.com
Database: d5g6lh33s7upm7
User: qtqmkgaufeikqw
Port: 5432
Password: 87677072227037eae4e0b379c4326ef502ea7ac76205e1227eb895c80867aa1f
URI: postgres://qtqmkgaufeikqw:87677072227037eae4e0b379c4326ef502ea7ac76205e1227eb895c80867aa1f@ec2-3-215-41-107.compute-1.amazonaws.com:5432/d5g6lh33s7upm7
Heroku CLI: heroku pg:psql postgresql-lively-27792 --app carlimitouski-project-1

terminal copy and paste:
export FLASK_APP=application.py;
export FLASK_DEBUG=1;
export DATABASE_URL=postgres://rupwearklifpku:d7dd043685d563519ceaf4efeefd2910ea18c7d14786985c9986886bbf9f32df@ec2-107-20-177-161.compute-1.amazonaws.com:5432/d7cigh59g36jmp
