{% extends "layout.html" %}

{% block title %}
  Register
{% endblock %}

{% block main %}
  <!-- Main div -->
  <div class="mainDiv">
    <!-- Heading -->
    <p class="h1" style="padding-top:20px; padding-bottom:5px;">Register</p>

    <!-- Link to login page -->
    <div style="padding-top:5px; padding-bottom:20px;">
      <p class="h5">
        <a href="/">Already registered? Login!</a>
      </p>
    </div>

    <!-- Form for user register details -->
    <form action="/register" method="POST">
      <div class="form-group">
        <input class="form-control input-lg" id="username" name="username" type="text" placeholder="username" autocomplete="off">
      </div>
      <div class="form-group">
        <input class="form-control input-lg" id="password" name="password" type="password" placeholder="password" autocomplete="off">
      </div>
      <div class="form-group">
        <input class="form-control input-lg" id="confirmation" name="confirmation" type="password" placeholder="confirm password" autocomplete="off">
      </div>
      <div class="form-group">
        <input class="btn btn-primary" id="submit" type="submit">
      </div>
    </form>
  </div>
{% endblock %}
